<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">

<body>
    <div class="content" layout:fragment="content">
        <div class="header">

            <h1 class="page-title">首页</h1>
            <ul class="breadcrumb">
                <li><a th:href="@{/home}">首页</a></li>
            </ul>

        </div>
        <div class="main-content">
            <div style="height: 400px">
                <h2>
                    国际足联世界杯（FIFA World Cup）简称“世界杯”，是世界上最高荣誉、最高规格、最高竞技水平、最高知名度的足球比赛，<br></br>
                    与奥运会并称为全球体育两大最顶级赛事，影响力和转播覆盖率超过奥运会的全球最大体育盛事。<br></br>
                    世界杯是全球各个国家在足球领域最梦寐以求的神圣荣耀，也是各个国家（或地区）所有足球运动员的终极梦想。<br></br>
                    世界杯每四年举办一次，任何国际足联会员国（地区）都可以派出代表队报名参加这项赛事。<br></br>
                    世界杯是世界足球运动发展推广普及的源头和根本，所以也被誉为“生命之杯”。<br></br>
                    巴西是夺得该项荣誉最多的球队，共获得5次世界杯冠军，并且在3夺世界杯后永久地保留了前任世界杯雷米特杯。<br></br>
                    现在的世界杯是大力神杯，4夺世界杯冠军的德国在1974年首次捧杯并沿用至今，两者都统称为世界杯。<br></br>
                    中国曾在2002年首次晋级第17届韩日世界杯决赛阶段32强。<br></br>
                    北京时间2017年1月10日，国际足联官方宣布，2026年世界杯起将扩军至48支球队参加。<br></br>
                    2018年6月13日，在莫斯科举行的国际足联第68届大会上，美国、加拿大、墨西哥三国联合申办2026年世界杯足球赛成功。
                </h2>
            </div>
            <div th:replace="fragment/footer :: footer">footer</div>
        </div>
    </div>
</body>
</html>