<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org">
<body>

<form role="form" th:action="@{/cartonStock/editCartonStock}" id="editCartonCategoryForm" class="form-horizontal" method="post">
    <input type="hidden" name="id" th:value="${cartonStock.id}"/>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="cartonBigType">纸箱大类: </label>
        <div class="col-sm-4">
            <select class="form-control" name="cartonBigType" id="cartonBigType" onchange="cartonBigTypeChange(this.value);" required="true">
                <option th:each="bigCategoryLov:${bigCategoryLovList}" th:value="${bigCategoryLov.lovCode}"
                        th:text="${bigCategoryLov.lovValue}" th:selected="${bigCategoryLov.lovCode eq cartonCategory.cartonBigType}"></option>
            </select>
        </div>

        <label class="col-sm-2 control-label" for="cartonSmallType">纸箱小类: </label>
        <div class="col-sm-4">
            <select class="form-control" name="cartonSmallType" id="cartonSmallType" required="true">
                <option th:each="smallCategoryLov:${smallCategoryLovList}" th:value="${smallCategoryLov.lovCode}"
                        th:text="${smallCategoryLov.lovValue}" th:selected="${smallCategoryLov.lovCode eq cartonCategory.cartonSmallType}"></option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="stock">总库存: </label>
        <div class="col-sm-4">
            <input type="number" id="stock" name="stock" class="form-control"
                   required="true" th:value="${cartonCategory.stock}"/>
        </div>

        <label class="col-sm-2 control-label" for="stockLeft">剩余库存: </label>
        <div class="col-sm-4">
            <input type="number" id="stockLeft" name="stockLeft" class="form-control"
                   required="true" th:value="${cartonCategory.stockLeft}"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="costPrice">成本单价: </label>
        <div class="col-sm-4">
            <input type="number" id="costPrice" name="costPrice" class="form-control"
                   required="true" th:value="${cartonCategory.costPrice}"/>
        </div>
    </div>


</form>
</body>
</html>
