<!doctype html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<body class=" theme-blue" th:with="timestamp=${#dates.format(#dates.createNow(),'yyyyMMddHH')}">

<div class="content" layout:fragment="content">

    <div class="header">
        <h1 class="page-title">纸箱库存管理列表</h1>
        <ul class="breadcrumb">
            <li><a th:href="@{/home}">首页</a></li>
            <li class="active">纸箱库存管理列表</li>
        </ul>
    </div>

    <div class="main-content">
        <form method="get" th:action="@{/cartonStock/cartonStockList}" id="searchForm">
            <input type="hidden" name="pageNum" id="pageNum" th:value="${pageNum}"/>
            <input type="hidden" name="pageSize" id="pageSize" th:value="${pageSize}"/>
            <div class="row form-horizontal">
                <div class="form-group">
                    <label class="col-md-1 control-label">纸箱规格: </label>
                    <div class="col-md-2">
                        <select class="form-control" name="cartonCategoryParam" id="cartonCategoryParam">
                            <option>请选择...</option>
                        </select>
                    </div>

                    <label class="col-md-1 control-label">库存名称: </label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" name="stockNameParam" id="stockNameParam" placeholder="请输入库存名称"/>
                    </div>

                </div>

                <div class="btn-toolbar list-toolbar" style="float: right; margin-right: 40%">
                    <button type="submit" class="btn btn-default" placeholder="查询">搜索</button>
                    <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#addCartonStockModal" th:onclick="'toAddPage()'"><i class="fa fa-plus"></i> 新增</a>
                </div>

            </div>
        </form>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="3%"><input type="checkbox" id="checkAll" onclick="checkAll()"/></th>
                    <th>库存名称</th>
                    <th>纸箱大类</th>
                    <th>纸箱小类</th>
                    <th>总库存</th>
                    <th>剩余库存</th>
                    <th>成本单价</th>
                </tr>
            </thead>
            <tbody th:remove="all-but-first">
                <tr th:each="cartonStock:${cartonStockList}">
                    <td>
                        <input type="checkbox" name="choseElement" th:value="${cartonStock.id}" onclick="clickElement(this)"/>
                    </td>
                    <td th:text="${cartonStock.name}">name</td>
                    <td th:text="${cartonStock.CartonStock.cartonBigTypeValue}">cartonBigTypeValue</td>
                    <td th:text="${cartonStock.CartonStock.cartonSmallTypeValue}">cartonSmallTypeValue</td>
                    <td th:text="${cartonStock.stock}">stock</td>
                    <td th:text="${cartonStock.stockLeft}">stockLeft</td>
                    <td th:text="${cartonStock.costPrice}">costPrice</td>
                    <td>
                        <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#editCartonStockModal" th:onclick="'toEditPage(' + ${cartonStock.id} + ')'">修改</a>
                        <a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" th:onclick="'setDeleteFile(\'' + ${cartonStock.id} + '\')'">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <!--分页-->
        <div th:replace="fragment/page :: page">page</div>
        <!--底部-->
        <div th:replace="fragment/footer :: footer">footer</div>
    </div>

    <!--新增模态框-->
    <div class="modal small fade" id="addCartonStockModal" tabindex="-1" role="dialog" aria-labelledby="addCartonStockModal" aria-hidden="true"  data-backdrop="static">
        <div class="modal-dialog" style="width:40%;">
            <div class="modal-content">
                <div class="modal-header">
                    <a type="button" class="close" data-dismiss="modal" aria-hidden="true">×</a>
                    <h2 id="addCartonStockLabel">新增纸箱库存</h2>
                </div>
                <div class="modal-body" id="addCartonStockBody">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="addCartonStockBtn">保存</button>
                </div>

            </div>
        </div>
    </div>

    <!--修改模态框-->
    <div class="modal small fade" id="editCartonStockModal" tabindex="-1" role="dialog" aria-labelledby="editCartonStockModal" aria-hidden="true"  data-backdrop="static">
        <div class="modal-dialog" style="width:40%;">
            <div class="modal-content">
                <div class="modal-header">
                    <a type="button" class="close" data-dismiss="modal" aria-hidden="true">×</a>
                    <h2 id="editCartonStockLabel">修改纸箱库存</h2>
                </div>
                <div class="modal-body" id="editCartonStockBody">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="editCartonStockBtn">保存</button>
                </div>

            </div>
        </div>
    </div>

    <!--必须要在content里面-->
    <script th:src="@{/js/carton_stock.js(t=${timestamp})}" type="text/javascript"/>

</div>
</body>
</html>
