<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org">
<body>

<form role="form" th:action="@{/cartonStock/editCartonStock}" id="editCartonStockForm" class="form-horizontal" method="post">
    <input type="hidden" name="id" th:value="${cartonStock.id}"/>

    <div class="form-group">
        <label class="col-md-2 control-label">纸箱规格: </label>
        <div class="col-md-6">
            <select class="form-control" name="cartonCategoryId" id="cartonCategoryId">
                <option>请选择...</option>
                <option th:each="cartonCategory:${cartonCategoryList}" th:value="${cartonCategory.id}"
                        th:text="${cartonCategory.simpleName}" th:selected="${cartonStock.cartonCategoryId eq cartonCategory.id}"></option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="stockLeft">库存名称: </label>
        <div class="col-sm-4">
            <input type="text" id="name" name="name" class="form-control" required="true" th:value="${cartonStock.name}"/>
        </div>

        <label class="col-sm-2 control-label" for="stock">总库存: </label>
        <div class="col-sm-4">
            <input type="number" id="stock" name="stock" class="form-control" required="true" th:value="${cartonStock.stock}"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="stockLeft">剩余库存: </label>
        <div class="col-sm-4">
            <input type="number" id="stockLeft" name="stockLeft" class="form-control" required="true" readonly="readonly" th:value="${cartonStock.stockLeft}"/>
        </div>

        <label class="col-sm-2 control-label" for="costPrice">成本单价: </label>
        <div class="col-sm-4">
            <input type="number" id="costPrice" name="costPrice" class="form-control" required="true" th:value="${cartonStock.costPrice}"/>
        </div>
    </div>

</form>
</body>
</html>
